{% extends "layout.html" %}
{% block content %}
<br>
<h1 class="F1 text-center">Team</h1>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="card mt-4">
                <img class="card-img-top img-fluid" src="../static/Bew.jpg" alt="" />
                <div class="card-body">
                    <h4 class="F1 card-title">63050110</h4>
                    <h4>ชฎาทิพย์ ปรางกุลเจริญกิจ</h4>
                    <p>คณะวิทยาศาสตร์ สาขา วิทยาการคอมพิวเตอร์ สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="card mt-4">
                <img class="card-img-top img-fluid" src="../static/Yeen.jpg" alt="" />
                <div class="card-body">
                    <h4 class="F1 card-title">63050133</h4>
                    <h4>ถิรวิช ภิญโยยาง</h4>
                    <p>คณะวิทยาศาสตร์ สาขา วิทยาการคอมพิวเตอร์ สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="card mt-4">
                <img class="card-img-top img-fluid" src="../static/Non.jpeg" alt="" />
                <div class="card-body">
                    <h4 class="F1 card-title">63050138</h4>
                    <h4>ธนวัตร แก้วมณี</h4>
                    <p>คณะวิทยาศาสตร์ สาขา วิทยาการคอมพิวเตอร์ สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="card mt-4">
                <img class="card-img-top img-fluid" src="../static/Ter.jpg" alt="" />
                <div class="card-body">
                    <h4 class="F1 card-title">63050143</h4>
                    <h4>ธรรธร จงสกุล</h4>
                    <p>คณะวิทยาศาสตร์ สาขา วิทยาการคอมพิวเตอร์ สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
        <a href=""><img class="card-img-top" src="../static/S__25223206.jpg" alt="" /></a>
        <div class="card-body">
            <h4 class="card-title">63050110</h4>
            <h4>ชฎาทิพย์ ปรางกุลเจริญกิจ</h4>
        </div>
    </div>
</div> -->
{% endblock %}


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
</head>
<body>
    <h1>Hello about</h1>
    <img src="../static/image 10.png" alt="">
    <li><a href="/">HOME</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/admin">Admin</a></li>
</body>
</html> -->